{{>partials/header}}


    <h1>Página de Login</h1>
    

    <form method="post" action="login-resultado">
        <input type="text" name="login" placeholder="Insira seu login" /><br>
        <input type="password" name="password" placeholder="insira sua senha" /><br>
        <input type="submit" value="Enviar"/>
    </form>

{{>partials/footer}}